* {
    margin: 3px;
}

.App {
    text-align: left;
    display: grid;
    grid-auto-flow: column;

}

.cvForm, .formDiv {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 50%;
}

input {
    margin: 2px;
    font-size: large;
}

.preview {
    border: 1px solid red;
    padding: 15px;
}