#profContainer {
    margin: auto;
    word-wrap: break-word;
    margin-top: 10px;
    

}

#profile {
    align-items: center;
    word-wrap: break-word;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(198, 198, 198);
    margin-bottom: rgb(221, 221, 221);
}

h3 {
    text-align: center;
}

#profDates {
    display: flex;
    margin:0px;
    font-size: 80%;
}

#companyName {
    font-size: 110%;
}
#jobTitle {
    font-size: 90%;
}

#profDescription {
    font-size: 90%;
    white-space: pre-wrap;
}

#mainExpContainer {
    margin-top: 10px;
}